@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-VariableFont.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(228, 223, 223);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto auto;
}

.nav-container {
  background-color: rgb(31, 139, 226);
  grid-row: 1 / 4;
  display: grid;
  grid-template-columns: repeat(1, minmax(260px, 1fr));
  grid-template-rows: 50px 220px 220px;
  row-gap: 40px;
}

.nav-container div {
  padding-left: 14px;
}
.nav-container ul {
  padding-left: 20px;
}

.logo {
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  padding-top: 10px;
  gap: 8px;
}

.logo h1 {
  color: white;
}

.nav-item a {
  display: grid;
  grid-template-columns: 25px auto;
  column-gap: 18px;
  align-items: center;
  margin-bottom: 10px;
  color: white;
  font-weight: 600;
}

.bar-container {
  background-color: white;
  grid-column: 2 / 4;
  padding: 15px 40px;
  box-shadow: 0px 2px 8px rgb(160, 159, 159);
}

.bar-top {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 50px;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  display: grid;
  grid-template-columns: 25px 80%;
  column-gap: 10px;
}

.search-bar input {
  height: 25px;
  border: none;
  outline: none;
  background-color: rgb(228, 223, 223);
  border-radius: 15px;
  padding-left: 20px;
}

.notifications-bar {
  display: grid;
  grid-template-columns: 25px 50px auto;
  align-items: center;
  column-gap: 20px;
}

.notifications-bar img:nth-child(2) {
  border-radius: 50%;
}

.bar-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 75px;
  align-items: center;
}

.profile-info {
  display: grid;
  grid-template-columns: 75px auto;
  align-items: center;
  column-gap: 20px;
}

.profile-info img {
  border-radius: 50%;
}

.pseudo {
  font-size: 24px;
}

.list-btn {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  column-gap: 20px;
  margin-left: auto;
}

.list-btn button {
  width: 90px;
  border: none;
  font-weight: 600;
  background-color: rgb(31, 139, 226);
  padding: 10px 20px;
  border-radius: 40px;
}

.list-btn button a {
  color: white;
}

.project-container {
  grid-row: 2 / 4;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.list-project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
}

.project-item {
  background-color: white;
  padding: 30px 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgb(160, 159, 159);
  border-left: 6px solid rgb(31, 139, 226);
}

.project-item h3 {
  font-size: 18px;
}

.project-item p {
  height: 100px;
  text-align: justify;
}

.project-item div {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 20px;
}

.announcements-container {
  background-color: burlywood;
  margin-top: 30px;
  margin-right: 20px;
}

.trending-container {
  background-color: darkgoldenrod;
  margin-top: 30px;
  margin-right: 20px;
}
